body{
    background-color: black;
}

.titulo{
    color: yellow;
    font-family: cursive;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 20%;
}
.quadro{
    background-color: yellow;
    width: 60%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 20%;
}
.pergunta{
    font-family: cursive;
    color: black;
    text-align: center;
    position: relative;
    top: 5%;
}
.opcao{
    font-family: cursive;
    color: black;
    text-align: center;
    font-size: 150%;
    position: relative;
    top: 20%;
    margin: 1%;
    padding: 1%;
}
.opcao:hover{
    background-color: black;
    color: yellow;
}
.iniciar{
    background-color: yellow;
    width: 60%;
    height: 5%;
    position: absolute;
    top: 78%;
    left: 20%;
    text-align: center;
    font-family: cursive;
    font-size: 150%;
    line-height: 180%;
    font-weight: bold;
}
.proximo{
    background-color: yellow;
    width: 60%;
    height: 5%;
    position: absolute;
    top: 78%;
    left: 20%;
    text-align: center;
    font-family: cursive;
    font-size: 150%;
    line-height: 180%;
    font-weight: bold;
}
.tentarNovamente{
    background-color: yellow;
    width: 60%;
    height: 5%;
    position: absolute;
    top: 78%;
    left: 20%;
    text-align: center;
    font-family: cursive;
    font-size: 150%;
    line-height: 180%;
    font-weight: bold;
}
.iniciar:hover{
    background-color: darkgreen;
    color: yellow;
}
.proximo:hover{
    background-color: darkgreen;
    color: yellow;
}
.tentarNovamente:hover{
    background-color: darkgreen;
    color: yellow;
}

@media screen and (max-width:1360px) {
   
    .titulo{
        font-size: 30pt;
        position: absolute;
        left: 10%;
        top: 5%;
    }

    .pergunta{
        font-size: 28pt;
    }

    .quadro{
        width: 80%;
        height: 65%;
        left: 10%;
        top: 17%;
    }

    .opcao{
        font-size: 25pt;
        top: 10%;
    }

    .iniciar , .proximo , .tentarNovamente{
        width: 80%;
        height: 8%;
        left: 10%;
        top: 87%;
        font-size: 25pt;
    }
    
}

@media screen and (max-width:768px) {
    body{
        font-size:smaller;
        background-color: aqua
    }
   
    .titulo{
        font-size: 50pt;
        position: absolute;
        left: 10%;
        top: 5%;
    }

    .pergunta{
        font-size: 40pt;
        margin: 3%;
    }

    .quadro{
        width: 80%;
        height: 65%;
        left: 10%;
        top: 17%;
    }

    .opcao{
        font-size: 35pt;
        top: 15%;
        line-height: 60pt;
    }

    .iniciar , .proximo , .tentarNovamente{
        width: 80%;
        height: 8%;
        left: 10%;
        top: 87%;
        font-size: 40pt;
        
    }
    
}
